<%= turbo_frame_tag entry do %>
  <div class="row">
    <div class="col-3"><%= entry.title %></div>
    <div class="col-3"><%= entry.body %></div>
    <div class="col-3"><%= link_to 'Edit', edit_entry_path(entry) %></div>
    <div class="col-3"><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>
